no.nav.security.jwt:
  issuer:
    servicebruker:
      discoveryurl: '${SECURITY_TOKEN_SERVICE_OPENID_CONFIGURATION_URL}'
      accepted_audience: 'srvpensjon,srvsporingslogg'
    tokendings:
      discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
      accepted_audience: ${TOKEN_X_CLIENT_ID}

kafka:
  security.protocol: SSL
  sporingslogg:
    aiventopic: ${SPORINGSLOGG_AIVEN_KAFKA_TOPIC}
    aivengroupid: ${SPORINGSLOGG_AIVEN_KAFKA_GROUP}

server:
  error:
    include-message: always

management:
  endpoint:
    health:
      show-details: always
      enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metrics
