no.nav.security.jwt:
  issuer:
    servicebruker:
      discoveryurl: '${SECURITY_TOKEN_SERVICE_OPENID_CONFIGURATION_URL}'
      accepted_audience: 'srvpensjon,srvsporingslogg'
    tokendings:
      discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
      accepted_audience: ${TOKEN_X_CLIENT_ID}
    entraid:
     discovery-url: ${AZURE_APP_WELL_KNOWN_URL}
     accepted_audience: ${AZURE_APP_CLIENT_ID}
oracle:
  user: ${DBUSERNAME}
  password: ${DBPASSWORD}
kafka:
  security.protocol: SSL
  sporingslogg:
    aiventopic: ${SPORINGSLOGG_AIVEN_KAFKA_TOPIC}
    aivengroupid: ${SPORINGSLOGG_AIVEN_KAFKA_GROUP}

server:
  error:
    include-message: always

management:
  endpoint:
    health:
      show-details: always
      access: read_only
    metrics:
      access: read_only
    prometheus:
      access: read_only
  endpoints:
    web:
      exposure:
        include: prometheus, health, info, metrics
